/* variables */
/* Main styles */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-size: 2rem;
  font-family: 'GothamPro-black';
  font-weight: 900;
}

.container {
  margin: 0 auto;
  max-width: 1290px;
}

@media screen and (max-width: 1199px) {
  h1 {
    font-size: 24px;
  }
}

.hero__slider {
  overflow: hidden;
}

.section__padding {
  padding: 100px 0;
}

.section__title {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.blue-bg {
  background: url("../img/info-bg.png");
}

.blue-bg__title {
  color: #ffffff !important;
  max-width: 954px;
  margin: 0 auto 100px !important;
}

.blue-bg__title::before, .blue-bg__title::after {
  bottom: -25px;
}

.blue-bg__title::after {
  width: 50px !important;
  left: unset !important;
  margin-left: 155px;
  background-color: #FF006E !important;
}

.blue-bg__title::before {
  width: 155px !important;
  left: unset !important;
  margin-right: 50px;
  background-color: #0B318F !important;
}

.services__title {
  margin-bottom: 100px !important;
}

.services-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.services-item {
  max-width: 400px;
  width: 100%;
}

.services-item__text {
  margin-top: 37px;
  color: #001F73;
}

.line__title.red::after {
  background-color: #FF006E;
}

@media screen and (max-width: 1196px) {
  .section__padding {
    padding: 50px 0;
  }
  .services__title {
    margin-bottom: 50px !important;
  }
  .services__container {
    width: 100% !important;
    margin: 0 !important;
  }
  .services__padding {
    padding: 40px 0 !important;
  }
  .services-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .services-item {
    max-width: 100%;
  }
  .services-item__text {
    padding: 0px 20px;
  }
  .line__title::before, .line__title::after {
    bottom: -25px;
  }
  .line__title::after {
    width: 50px !important;
    left: unset !important;
    margin-left: 155px;
  }
  .line__title::before {
    width: 155px !important;
    left: unset !important;
    margin-right: 50px;
  }
}

.info-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 20px;
          column-gap: 20px;
  grid-row-gap: 60px;
}

.info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info-item__img {
  padding: 26px;
  border: 2px solid #0B318F;
  max-width: 160px;
  max-height: 160px;
  margin-bottom: 30px;
}

.mobile-info {
  position: relative;
  overflow: hidden;
  display: none;
}

@media screen and (max-width: 1196px) {
  .info__padding {
    padding: 50px 0;
  }
  .info__title {
    padding: 0px 20px !important;
    margin-bottom: 60px !important;
  }
  .info-grid {
    display: none;
  }
  .mobile-info {
    display: block;
  }
  .mobile-info .slick-arrow {
    top: 42%;
  }
  .mobile-info .slick-arrow.slick-next {
    right: 0;
  }
}

.tariffs__title {
  margin-bottom: 85px !important;
}

.tariffs__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tariffs-item {
  max-width: calc( 50% - 10px);
  width: 100%;
  margin-right: 20px;
}

.tariffs-item:last-child {
  margin-right: 0;
}

.tariffs-item__container {
  border-left: 1px solid #E2E2E2;
  border-right: 1px solid #E2E2E2;
  padding: 40px 23px 10px;
}

.tariffs-item__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.tariffs-item__icon {
  max-height: 45px;
  max-width: 45px;
  margin-right: 22px;
  border-bottom: 2px solid #FF006E;
}

.tariffs-item__column {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tariffs-item__title {
  color: #001f73;
  font-size: 18px;
  font-weight: 900;
}

.tariffs-item__line {
  border: 0;
  height: 1px;
  background-color: #E2E2E2;
  color: #e2e2e2;
  margin: 5px 0;
}

.tariffs-item__subtitle {
  font-size: 14px;
  color: #001f73;
}

.tariffs-item__btn {
  width: 100%;
  background-color: #009BFF;
  text-transform: uppercase;
  color: #fff;
  padding: 16px 0;
  font-size: 18px;
  font-weight: 600;
}

.tariffs-item__btn.red {
  background-color: #FF006E;
}

.tariffs-item__btn img {
  max-width: 23px;
  margin-left: 20px;
}

.tariffs-header {
  background-color: #001F73;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding: 20px 0;
}

.tariffs-header__img {
  position: absolute;
  left: 15%;
  max-width: 36px;
  max-height: 36px;
}

.tariffs-header__text {
  font-weight: 900;
  font-size: 22px;
}

@media screen and (max-width: 1196px) {
  .tariffs__title {
    margin-bottom: 35px !important;
  }
  .tariffs__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tariffs-item {
    max-width: 100%;
    margin-right: 0;
  }
  .tariffs-item:first-child {
    margin-bottom: 40px;
  }
  .tariffs-item__btn img {
    display: none;
  }
  .tariffs-header__text {
    font-size: 18px;
  }
  .tariffs-header__img {
    left: 5%;
  }
}

.advantages-product__container {
  display: block;
}

.advantages-product-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 40px;
          column-gap: 40px;
  grid-row-gap: 30px;
}

.advantages-product-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.advantages-product-item__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantages-product-item__num {
  width: 73px;
  height: 73px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 60px;
  font-weight: 600;
  border: 2px solid #0B318F;
  border-bottom: 2px solid #FF006E;
}

.advantages-product-item__title {
  font-size: 22px;
  font-weight: bold;
  margin-left: 30px;
}

.advantages-product-item__text {
  margin-top: 30px;
}

.advantages-product-swiper {
  display: none;
  overflow: hidden;
  position: relative;
  padding-top: 100px;
}

.advantages-product-swiper .slick-dots {
  left: 20px;
  top: 0;
  position: absolute;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.advantages-product-swiper .slick-arrow {
  top: 0;
  right: 20px;
  width: 50px;
  height: 50px;
  background-position: center center;
  background-size: 25px 25px;
  border: 1px solid #0B318F;
  border-bottom: 2px solid #FF006E;
}

.advantages-product-swiper .slick-prev {
  right: 90px;
}

@media screen and (max-width: 1196px) {
  .advantages-product__title {
    margin-bottom: 50px !important;
  }
  .advantages-product__container {
    display: none;
  }
  .advantages-product-item {
    padding: 0px 20px;
  }
  .advantages-product-swiper {
    display: block;
  }
}

.clients {
  background: url("../img/client-bg.png");
}

.clients__title {
  margin-bottom: 60px !important;
}

.clients__container {
  border: 1px solid #E2E2E2;
  padding: 54px 30px;
}

.clients-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 80px;
}

.clients-header__title {
  font-size: 60px;
  font-weight: 900;
  position: relative;
  padding-right: 80px;
  margin-right: 54px;
  color: #001F73;
  text-transform: uppercase;
}

.clients-header__title::first-letter {
  color: #FF006E;
}

.clients-header__title::after {
  content: '';
  display: block;
  width: 1px;
  height: 78px;
  position: absolute;
  right: 0;
  top: 0;
  background: #e2e2e2;
}

.clients-header__img {
  max-width: 312px;
}

.clients-text {
  line-height: 130%;
  color: #001F73;
}

.clients-text__title {
  font-weight: 900;
  font-size: 22px;
}

.clients-text__img {
  margin-right: 15px;
  max-width: 13px;
  max-height: 13px;
}

@media screen and (max-width: 1196px) {
  .clients__title {
    margin-bottom: 40px !important;
  }
  .clients__container {
    border: 0;
    padding: 0 20px;
  }
  .clients-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 40px;
  }
  .clients-header__title {
    font-size: 34px;
    padding-right: 0;
    margin-right: 0;
    text-align: center;
    margin-bottom: 24px;
  }
  .clients-header__title::first-letter {
    color: #FF006E;
  }
  .clients-header__title::after {
    display: none;
  }
  .clients-header__img {
    margin: 0 auto;
    max-width: 216px;
  }
}

.how-service__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.how-service__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 20px;
  margin-left: auto;
}

.how-service__footer-img {
  margin-left: 80px;
  border-radius: 50%;
  padding: 8px;
  width: 35px;
  height: 35px;
  border: 3px solid #fff;
}

.how-service-item {
  width: calc(50% - 20px);
  width: 100%;
  margin-right: 40px;
  padding: 40px 27px;
  border: 2px solid #0B318F;
  border-bottom: 2px solid #FF006E;
}

.how-service-item:last-child {
  margin-right: 0;
}

.how-service-item__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
}

.how-service-item__text span {
  display: block;
}

.how-service-item__icon {
  max-width: 14px;
  max-height: 14px;
  margin-right: 24px;
}

@media screen and (max-width: 1196px) {
  .how-service__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .how-service__footer-img {
    margin-left: 10px;
  }
  .how-service-item {
    width: 100%;
    max-width: 100%;
    padding: 40px 20px;
    margin-bottom: 40px;
    margin-right: 0;
  }
  .how-service-item:last-child {
    margin-bottom: 0;
  }
}

.how-work__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.how-work__item {
  max-width: calc( 50% - 95px);
  margin-right: 95px;
}

.how-work__item:last-child {
  margin-right: 0;
}

@media screen and (max-width: 1196px) {
  .how-work {
    display: none;
  }
}

.benefits {
  background: url("../img/client-bg.png");
  background-size: 100%;
}

.benefits__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  margin-top: 70px !important;
}

.benefits-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.benefits-item__img {
  max-width: 100px;
  height: 100px;
  margin-bottom: 32px;
}

.benefits-item__text {
  color: #001F73;
}

@media screen and (max-width: 1196px) {
  .benefits {
    background-size: unset;
    background-position-x: -200px;
  }
  .benefits__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .benefits-item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 40px;
  }
  .benefits-item:last-child {
    margin-bottom: 0;
  }
  .benefits-item__img {
    margin-bottom: 0;
    margin-right: 32px;
  }
}

.benefits-second__title {
  color: #001F73 !important;
}

.benefits-second__title::before {
  background-color: #E2E2E2 !important;
}

.benefits-second__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.benefits-second-item {
  max-width: 383px;
  width: 100%;
}

.benefits-second-item__img {
  background: #001F73;
  display: block;
}

.benefits-second-item__suptitle {
  padding: 12px 24px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  border-top: 1px solid #0B318F;
  color: #fff;
  background-color: #001F73;
}

.benefits-second-item__info {
  color: #001F73;
  padding: 24px 20px;
  border-right: 1px solid #E2E2E2;
  border-left: 1px solid #E2E2E2;
}

.benefits-second-item__btn {
  color: #fff;
  background-color: #009BFF;
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  padding: 16px 0;
}

.benefits-second-item__btn img {
  margin-left: 18px;
  max-width: 22px;
}

.benefits-second-item__title {
  font-size: 22px;
  font-weight: 900;
  margin-bottom: 30px;
}

.benefits-second-mobile {
  display: none;
}

@media screen and (max-width: 1196px) {
  .benefits-second__container {
    display: none;
  }
  .benefits-second-mobile {
    display: block;
  }
  .benefits-second-mobile .slick-arrow {
    background: #001F73;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50px;
    height: 50px;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-position: center center;
    background-repeat: no-repeat;
    right: 20px;
    z-index: 10;
  }
  .benefits-second-mobile .slick-arrow.slick-prev {
    right: 90px;
  }
  .benefits-second-mobile .benefits-second-item {
    max-width: 100%;
    padding: 0px 20px 0px;
  }
}

.calculator-radio-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #2D48A8;
}

.calculator-radio-buttons__title {
  font-size: 18px;
  font-weight: 900;
}

.calculator-radio-buttons__item {
  font-size: 18px;
  font-weight: 600;
}

.calculator-radio-buttons__item span {
  background-color: #0B318F;
  display: block;
  padding: 16px 6.042vw;
}

.calculator-radio-buttons__item input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

.calculator-radio-buttons__item input:checked + span {
  background-color: #FF006E;
}

.calculator-communicative-resource-internet {
  padding: 40px 0;
  margin-top: 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calculator-communicative-resource-internet .calculator-block__header {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  max-width: 100% !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calculator-communicative-resource-internet__title {
  margin-bottom: 0 !important;
  max-width: 200px;
  width: 100%;
  display: inline-block;
}

.calculator-communicative-resource-internet__subtitle {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  width: 100%;
  margin-bottom: 0 !important;
  display: inline-block;
}

.calculator-communicative-resource-internet .calculator-block__price {
  display: inline-block;
  margin: 0 !important;
}

.calculator-communicative-resource-internet__column {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

.calculator-communicative-resource {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 56px;
  border-bottom: 1px solid #2D48A8;
}

.calculator-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 25px;
  max-width: 25px;
  width: 100%;
  min-height: 26px;
  max-height: 26px;
  border: 2px solid #FF006E;
  margin-right: 20px;
}

.calculator-checkbox input {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.calculator-checkbox img {
  max-width: 12px;
  display: none;
}

.calculator-checkbox input:checked + img {
  display: block;
}

.calculator-block__price {
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  text-align: right;
  margin-top: 30px;
  margin-bottom: 18px;
}

.calculator-block__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 230px;
}

.calculator-block__title {
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 30px;
}

.calculator-block__subtitle {
  font-size: 16px;
}

.calculator-block__column-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 54px;
  max-width: 553px;
  width: 457px;
  margin-left: auto;
}

.calculator-block__row-input-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 144px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 17px;
  background-color: #0B318F;
}

.calculator-block__row-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin-bottom: 5px;
}

.calculator-block__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.calculator-block__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.calculator-block__minus, .calculator-block__plus {
  max-width: 14px;
}

.calculator-input {
  width: 100%;
}

.calculator-input__title {
  max-width: 170px;
  margin-right: 40px;
}

.calculator-input__input {
  width: 100%;
}

.calculator-input__value {
  width: 100%;
  margin-top: 10px;
}

.calculator-input__value span:nth-child(1) {
  margin-left: 0;
}

.calculator-input__value span:nth-child(2) {
  margin-left: 22%;
}

.calculator-input__value span:nth-child(3) {
  margin-left: 18%;
}

.calculator-input__value span:nth-child(4) {
  margin-left: 16%;
}

.calculator-input__value span:nth-child(5) {
  float: right;
}

@media screen and (max-width: 1196px) {
  .calculator-radio-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-bottom: 0px;
  }
  .calculator-radio-buttons__title {
    margin-bottom: 30px;
  }
  .calculator-radio-buttons__item {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  .calculator-communicative-resource-internet {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .calculator-communicative-resource-internet__title {
    margin-bottom: 28px !important;
  }
  .calculator-communicative-resource-internet .calculator-block__price {
    margin: 0 !important;
  }
  .calculator-block__price {
    margin: 60px 0px 30px !important;
  }
  .calculator-communicative-resource {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .calculator-block__price {
    text-align: center;
  }
  .calculator-block__header {
    margin-bottom: 30px;
  }
  .calculator-block__subtitle {
    font-size: 16px;
  }
  .calculator-block__column-input {
    display: none;
  }
  .calculator-block__row-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    margin-bottom: 5px;
  }
  .calculator-block__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .calculator-block__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .calculator-block__minus, .calculator-block__plus {
    max-width: 14px;
  }
  .calculator-input__title {
    margin-right: 15px;
  }
  .calculator-input__input {
    display: none;
  }
  .calculator-input__value {
    display: none;
  }
}

input[type=range] {
  width: 100%;
  margin: 10.5px 0;
  background-color: transparent;
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  background: -webkit-gradient(linear, left top, right top, from(#000), color-stop(0%, #fff));
  background: -webkit-linear-gradient(left, #000 0%, #fff 0%);
  background: linear-gradient(left, #000 0%, #fff 0%);
  border: 0;
  border-radius: 25px;
  width: 100%;
  height: 3px;
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
  margin-top: -10.5px;
  width: 24px;
  height: 24px;
  background: #001f73;
  border: 7px solid #ff006e;
  border-radius: 50px;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}

input[type=range]::-moz-range-track {
  background: #ffffff;
  border: 0;
  border-radius: 25px;
  width: 100%;
  height: 3px;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  width: 24px;
  height: 24px;
  background: #001f73;
  border: 7px solid #ff006e;
  border-radius: 50px;
  cursor: pointer;
}

input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 10.5px 0;
  color: transparent;
  width: 100%;
  height: 3px;
  cursor: pointer;
}

input[type=range]::-ms-fill-lower {
  background: #ff006e;
  border: 0;
  border-radius: 50px;
}

input[type=range]::-ms-fill-upper {
  background: #ffffff;
  border: 0;
  border-radius: 50px;
}

input[type=range]::-ms-thumb {
  width: 24px;
  height: 24px;
  background: #001f73;
  border: 7px solid #ff006e;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 0px;
}

input[type=range]:focus::-ms-fill-lower {
  background: #ff006e;
}

input[type=range]:focus::-ms-fill-upper {
  background: #ffffff;
}
